body{
  background-color: #33E0FF;
}
h1{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size:85px
}
h2{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
p{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
}
.technology{
    margin: auto;
    overflow: auto;
    width: 50%;
    align-self: center;
}
.computers{
  background-color: #FBFF00;
    margin: 0px auto;
    height: 200px;
}
.phone{
  background-color: #FFD500;
}
.camera{
  background-color: #FFA200;
}
.internet{
  background-color: #FF7000;
}
.car{
  background-color: #FF3E00;
}
.header{
background-image: url(https://ramrajbca.files.wordpress.com/2016/02/cropped-computers_computers_technology_042219_1.jpg);
height: 490px;
background-size: cover;
text-align: center;
margin-top: 0;
margin-bottom: 80px;
line-height: 100px;
text-transform: uppercase;
}
.container{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px
}
.header .container{
  position: relative;
  top: 200px;
}
