body{
  background-color: #33E0FF;
}
h1{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size:85px
}
h2{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
p{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
.technology{
  margin: 50px auto;
    padding: 20px 30px 0px 30px;
    overflow: auto;
    width: 50%;

    align-self: center;
}
.computers{
  background-color: #FBFF00;
    margin: 0px auto;
    height: 200px;
}
.phone{
  background-color: #FFD500;
}
.camera{
  background-color: #FFA200;
}
.internet{
  background-color: #FF7000;
}
.car{
  background-color: #FF3E00;
}
